.App {
    text-align: center;
    margin: auto;
}

.nav {
    background-color: black;
    color:white;
}
.un1 {
    color:red;
}
.un2 {
    color: orange;
}
.chat {
    margin:auto;
    border: 3px solid black;
    border-radius: 5px;
    max-height: 200px;
    width:75%;
}
.chatbox {
    border:3px solid black;
    background-color: rgba(50, 50, 50, 0.5);
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}
.p1 {
    position:sticky;
}
.p2 {

}
.text {
    background-color: rgba(255, 255, 255, 0.5);
}
.chat-controls {
    background-color: black;
    padding: 5px;
}
.chat input {
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
    width: 60%;
}
.chat button {
    border: 2px solid black;
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
}
.chat button:hover {
    background-color: grey;
    color: white;
}
/* game baord------------------------------------ */
.board-container {
    margin-left: 25%;
}

.black {
    background-color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 1px;
}
/* board */
.NEWblack {
    background-color: purple;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 1px;
}
.red {
    background-color: red;
    color: black;
    height: 60px;
    width: 60px;
    margin: 1px;
}
/* board */
.NEWred {
    background-color: yellow;
    color: black;
    height: 60px;
    width: 60px;
    margin: 1px;
}
/* game peices */

.player1 {
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}
.NEWplayer1 {
    background-color: purple;
    color:black;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}
.player2 {
    background-color: slategrey;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin: 4px;
}
.NEWplayer2 {
    background-color: yellow;
    color:black;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}
.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 496px;
    margin-bottom: 50px;
    border-top:    4px solid grey;
    border-right:  4px solid grey;
    border-left:   4px solid lightgrey;
    border-bottom: 4px solid lightgrey;
}

/* Scrollbar styles ===========================*/
::-webkit-scrollbar {
width: 12px;
height: 12px;
}
/* scrolllbar border */
::-webkit-scrollbar-track {
border: 1px solid black;
border-radius: 10px;
}
/* scroll bar  */
::-webkit-scrollbar-thumb {
background: cyan;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: blue;
}
.allForms{
    margin: auto;
    margin-left: 100px;
    margin-top: 30px;
}
.forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.forms input {
    width: 300px;
    margin: 5px;
}
.forms label {
    width: 100px;
}
.submit {
    max-width: 55px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* center submit fields */
.s {
    margin: auto;
    width: 100px;
}
.loginForm {
    width: 500px;
    height: 220px;
    background-color: lightblue;
    border-radius: 5px;
    border: 3px solid blue;
    margin-bottom: 20px;
}
.newUserForm {
    width: 500px;
    background-color: lime;
    border-radius: 5px;
    border: 3px solid green;
}
.test {
    background-color: green;
}

/* Dark mode ---------------------------------------------   dark mode  */
/* Dark mode ---------------------------------------------   dark mode  */
/* Dark mode ---------------------------------------------   dark mode  */

.DARKApp {
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
}
.DARKnav {
    background-color: darkgrey;
    color: cyan;
}
.DARKun1 {
    color: blue;
}
.DARKun2 {
    color: cyan;
}
.DARKchat {
    margin:auto;
    border: 3px solid grey;
    border-radius: 5px;
    max-height: 200px;
    width:75%;
}
.DARKchatbox {
    border:3px solid yellow;
    background-color: rgba(50, 50, 50, 0.5);
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}
.DARKtext {
    background-color: rgba(255, 255, 255, 0.5);
    margin:auto;
}
.DARKchat-controls {
    background-color: black;
    padding: 5px;
}
.DARKchat input {
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
    width: 60%;
}
.DARKchat button {
    border: 2px solid black;
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
}
.DARKchat button:hover {
    background-color: grey;
    color: white;
}



/* game baord------------------------------------ */
.DARKboard-container {
    margin-left: 25%;
}

.DARKblack {
    background-color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    color: red;
    margin: 1px;
}

.DARKred {
    background-color: red;
    color: black;
    height: 60px;
    width: 60px;
    margin: 1px;
}

/* game peices */

.DARKplayer1 {
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}

.DARKplayer2 {
    background-color: slategrey;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin: 4px;
}


.DARKboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 496px;
    margin-bottom: 50px;
    border-top:    4px solid cyan;
    border-right:  4px solid cyan;
    border-left:   4px solid blue;
    border-bottom: 4px solid blue;
}





/* Scrollbar styles ===========================*/
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

/* scrolllbar border */
::-webkit-scrollbar-track {
border: 1px solid black;
border-radius: 10px;
}

/* scroll bar  */
::-webkit-scrollbar-thumb {
background: cyan;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: blue;
}

.DARKallForms{
    margin: auto;
    margin-left: 100px;
    margin-top: 30px;

}
.DARKforms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DARKforms input {
    width: 300px;
    margin: 5px;
}
.DARKforms label {
    width: 100px;
}
.DARKsubmit {
    max-width: 55px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* center submit fields */
.DARKs {
    margin: auto;
    width: 100px;
}


.DARKloginForm {
    width: 500px;
    height: 220px;
    background-color: lightblue;
    border-radius: 5px;
    border: 3px solid blue;
    margin-bottom: 20px;
}

.DARKnewUserForm {
    width: 500px;
    background-color: lime;
    border-radius: 5px;
    border: 3px solid green;
}
