@@font-face {
    font-family: FONT;
    src: url(https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap);
}
.u {
    background-color: rgba(0,0,0, 0.5);
    color:white;
}


.App {
    text-align: center;
    margin: auto;
    background-color: slategrey;
    background-image: url('checkers.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.center {
    margin:auto;
}
.h1 {
    font-size: 3em;
    font-family: FONT;
}

.nav {
    background-color: rgba(255,0,0, 0.5);
    color:white;
}
.nav p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
}
.un1 {
    color:red;
}
.un2 {
    color: orange;
}
.chat {
    margin:auto;
    border: 3px solid white;
    border-radius: 5px;
    max-height: 200px;
    width:75%;
    background-color: red;
}
.chatbox {
    border:3px solid black;
    background-color: rgba(50, 50, 50, 0.5);
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}
.p1 {
    position:sticky;
}
.p2 {

}
.text {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.chat-controls {
    background-color: black;
    padding: 5px;
}
.chat input {
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
    width: 60%;
}
.chat button {
    border: 2px solid black;
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
}
/* game baord------------------------------------ */
.board-container {
    margin-left: 25%;
}

/* board */
.black {
    background-color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 1px;
}
.NEWblack {
    background-color: darkorange;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 1px;
}
.red {
    background-color: red;
    color: black;
    height: 60px;
    width: 60px;
    margin: 1px;
}
.NEWred {
    background-color: blue;
    color: black;
    height: 60px;
    width: 60px;
    margin: 1px;
}
/* game peices *******************88*/

.player1 {
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}
.NEWplayer1 {
    background-color: blue;
    color:black;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}
.player2 {
    background-color: slategrey;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin: 4px;
}
.NEWplayer2 {
    background-color: darkorange;
    color:black;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}
.king1 {
    background-color: gold;
    border-radius: 50%;
    border: 2px solid red;
}
.king2 {
    background-color: silver;
    border-radius: 50%;
    border: 2px solid grey;
}
.NEWking1 {
    background-color: purple;
    border-radius: 50%;
    border: 2px solid green;
}
.NEWking2 {
    background-color: cyan;
    border-radius: 50%;
    border: 2px solid yellow;
}




/*  end game pieces */
.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 496px;
    margin-bottom: 50px;
    border-top:    5px solid grey;
    border-right:  5px solid grey;
    border-left:   5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
    background-color: white;
}

/* Scrollbar styles ===========================*/
::-webkit-scrollbar {
width: 12px;
height: 12px;
}
/* scrolllbar border */
::-webkit-scrollbar-track {
border: 1px solid black;
border-radius: 10px;
}
/* scroll bar  */
::-webkit-scrollbar-thumb {
background: darkorange;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: red;
}
/* =============================================*/
.allForms{
    margin: auto;
    margin-left: 30%;
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
}
.forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.forms input {
    width: 300px;
    margin: 5px;
}
.forms label {
    width: 100px;
}
.submit {
    max-width: 55px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* center submit fields */
.s {
    margin: auto;
    width: 100px;
}
.loginForm {
    width: 500px;
    height: 250px;
    background-image: url('user1.png');
    border-radius: 5px;
    border: 5px solid white;
    margin-bottom: 20px;
    color: white;
}
.loginForm input:hover {
    background-color: red;
}
.loginForm2 {
    width: 500px;
    height: 250px;
    background-image: url('user2.png');
    border-radius: 5px;
    border: 5px solid white;
    margin-bottom: 20px;
    color: white;
}
.loginForm2 input:hover {
    background-color: cyan;
}

.newUserForm {
    width: 500px;
    background-image: url('user3.png');
    border-radius: 5px;
    border: 5px solid white;
    color: white;
}
.newUserForm input:hover {
    background-color: lime;
}
.test {
    background-color: green;
}
.userButton {
    margin-top: 20px;
}
button:hover {
    background-color: darkorange;
    color: black;

}
label {
    background-color: rgba(120,120,120, 0.6);
}
/* Dark mode ---------------------------------------------   dark mode  */
/* Dark mode ---------------------------------------------   dark mode  */
/* Dark mode ---------------------------------------------   dark mode  */

.DARKApp {
    text-align: center;
    margin: auto;
    background-image: url('black.png');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.DARKnav {
    background-color: rgba(150,0,0, 0.6);
    color: darkred;
}
.DARKnav p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
}
.DARKh1 {
    font-size: 3em;
    color: black;
}
.DARKun1 {
    color: blue;
}
.DARKun2 {
    color: cyan;
}
.DARKchat {
    margin:auto;
    border: 3px solid grey;
    border-radius: 5px;
    max-height: 200px;
    width:75%;
}
.DARKchatbox {
    border:3px solid yellow;
    background-color: rgba(50, 50, 50, 0.5);
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}
.DARKtext {
    background-color: rgba(255, 255, 255, 0.5);
    margin:auto;
}
.DARKchat-controls {
    background-color: black;
    padding: 5px;
}
.DARKchat input {
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
    width: 60%;
}
.DARKchat button {
    border: 2px solid black;
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
}
.DARKchat button:hover {
    background-color: grey;
    color: white;
}



/* game baord------------------------------------ */
.DARKboard-container {
    margin-left: 25%;
}

.DARKblack {
    background-color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    color: red;
    margin: 1px;
}

.DARKred {
    background-color: red;
    color: black;
    height: 60px;
    width: 60px;
    margin: 1px;
}

/* game peices */

.DARKplayer1 {
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 4px;
}

.DARKplayer2 {
    background-color: slategrey;
    border-radius: 50%;
    border: 2px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin: 4px;
}


.DARKboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 496px;
    margin-bottom: 50px;
    border-top:    4px solid cyan;
    border-right:  4px solid cyan;
    border-left:   4px solid blue;
    border-bottom: 4px solid blue;
}

.DARKallForms{
    margin: auto;
    margin-left: 30%;
    margin-top: 30px;
}
.DARKforms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DARKforms input {
    width: 300px;
    margin: 5px;
}
.DARKforms label {
    width: 100px;
}
.DARKsubmit {
    max-width: 55px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* center submit fields */
.DARKs {
    margin: auto;
    width: 100px;
}


.DARKloginForm {
    width: 500px;
    height: 220px;
    background-color: black;
    border-radius: 5px;
    border: 3px solid grey;
    margin-bottom: 20px;
}
.DARKloginForm input:hover {
    background-color: darkred;
}

.DARKloginForm2 {
    width: 500px;
    height: 220px;
    background-color: black;
    border-radius: 5px;
    border: 3px solid grey;
    margin-bottom: 20px;
}
.DARKloginForm2 input:hover {
    background-color: darkblue;
}

.DARKnewUserForm {
    width: 500px;
    background-color: slategrey;
    border-radius: 5px;
    border: 3px solid black;
    color: black;
}
.DARKnewUserForm input:hover {
    background-color: darkgreen;

}
